################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConnectAssessmentRepo/ConnectAssessment/.vs/ConnectAssessment/FileContentIndex
